<!--index_banner-->
<section class="container-narrow" id="index-banner">
    <div>
        <div class="content">
            <p><img src="img/home/index-banner-pic.jpg"></p>
        </div>
    </div>
</section>

<!--index-brand-->
<section class="container-narrow" id="index-brand" >
    <h3 class="subtitle-line">焦點品牌</h3>
    <div>
        <div class="brand-icon-wrap">
            <p class="brand-icon">
            <?php foreach((array)$this->brands as $key=>$brand):?>
            <?php if($key==7):?>
            </p><p class="brand-icon">
             <?php endif;?>
            <a href="product.html?<?php echo $brand->id;?>"><img src="../system/files/<?php echo json_decode($brand->logo)[0]->path;?>"></a>
            <?php endforeach;?>
            </p>
        </div>




    </div>
</section>

<!--index-classify-->
<section class="container-narrow" id="index-classify">
    <h3 class="subtitle-line">首選類別</h3>
    <div class="content">
        <div>
            <div class="indexslick slider">
                <div> <a href="#"> <img src="img/home/home_46.png"></a> </div>
                <div> <a href="#"> <img src="img/home/home_48.png"> </a> </div>
                <div><a href="#"> <img src="img/home/home_51.png"></a></div>
                <div><a href="#"> <img src="img/home/home_53.png"></a></div>
                <div><a href="#"> <img src="img/home/home_55.png"></a></div>
                <div><a href="#"> <img src="img/home/home_57.png"></a></div>
            </div>
        </div>
    </div>
</section>