<link rel="stylesheet" href="./css/single-item.css">
<style>
    .items-like{
        background: url('./img/like-o.png');
        width: 21px;
        height: 18px;
        display: inline-block;
        transition: all .4s;
        position: relative;
        top: 4px;
        margin-right: 4px;
    }

    .items-like:hover, .items-like.activ {
        background: url('./img/like.png') no-repeat;
        transition: all .4s;
    }
</style>
<section class="container-narrow" id="member-order-list-page" ng-controller="itemCtrl">
    <div class="content clearfix">

        <!--single-item-->
        <div class="single-item-wrap">
            <div class="nav-top">
                <a href="#">首頁</a>/<a href="#">DESIGNER</a>/<a href="#">PRADA</a>/<a href="#"><?php echo $this->product['name']; ?></a>
            </div>
            <div class="single-item-banner">
                <div class="banner-indicators-img">
                    <ul>
                        <?php foreach((array)json_decode($this->product['img']) as $key => $pic):?>
                        <li class="cursorP opacity_<?php if($key==0){echo '1';}else{ echo '06';}?>"><img src="../system/files/<?php echo $pic->path;?>" alt=""></img></li>
                        <?php endforeach;?>
                    </ul>
                </div>
                <div class="banner-wrap">
                    <ul>
                        <?php foreach((array)json_decode($this->product['img']) as $pic):?>
                        <li><img src="../system/files/<?php echo $pic->path;?>" alt=""></li>
                        <?php endforeach;?>
                    </ul>
                </div>
                <div class="item-detail">
                    <div class="brand-detail">
                        <!--<p>PRADA</p>-->
                        <div ><?php echo $this->product['brandname']; ?></div>
                        <p id="name"><?php echo $this->product['name']; ?></p>
                        <p>TWD {{<?php echo $this->product['price']; ?> | currency}}</p>
                        <P>保證最低價 TWD {{<?php echo $this->product['cheapest']; ?> | currency}}</P>
                        <p ><?php echo $this->product['item']; ?></p>
                        <input type="hidden" id="price" value="<?php echo $this->product['price']; ?>"/>
                    </div>
                    <div class="goods-describe">
                        <div>產品描述 <span class="cursorP">-</span></div>
                        <div class="describe-text">
                            <?php echo $this->product['description']; ?>
                        </div>
                    </div>
                    <div class="size-describe">
                        <div>尺寸說明 <span class="cursorP">+</span></div>
                        <div class="select-box">
                            <div class="color-box">
                                <div>顏色</div>
                                <select name="color" ng-model="color" id="color-collect">
                                    <option value="">選擇</option>
                                    <?php foreach((array)$this->colors as $color){
                                           echo " <option value='".$color["id"]."'>".$color["title"]."</option>";
                                           }
                                    ?>
                                </select>
                            </div>
                            <div class="size-box">
                                <div>尺寸</div>
                                <select ng-model="size" name="size" id="size-collect">
                                    <option value="">選擇</option>
                                    <?php foreach((array)$this->sizes as $size){
                                    echo " <option value='".$size["id"]."'>".$size["title"]."</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-column-reverse">
                        <div class="add-to-cart clearfix">
                            <button class="col-md-12" type="button" ng-click="cart()">加入購物車</button>
                        </div>
                        <div class="add-to-collect">
                            <a href="javascript:void(0)" class="items-like cursorP" ></a><span>加入收藏清單</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="viewed">
                <div class="viewed-title">
                    最近瀏覽
                </div>
                <ul>
                    <?php foreach($this->products as $product):?>
                    <?php if($product['id'] != $this->product['id']):?>
                    <li>
                        <a href="item.html?i=<?php echo $product['id'];?>">
                        <img src="../system/files/<?php echo $product['img'];?>" alt="" class="img-responsive">
                        <div class="items-title">
                            <p><?php echo $product['name']?></p>
                            <p>TWD {{<?php echo $product['price'];?>|currency}}</p>
                        </div>
                        </a>
                    </li>
                    <?php endif;?>
                    <?php endforeach;?>

                </ul>
            </div>
        </div>

    </div>
</section>
<script>
    $(function () {

        // 右側輪播圖
        $('.banner-indicators-img>ul>li').click(function () {
            $(this).addClass('opacity_1').removeClass('opacity_06').siblings().addClass('opacity_06').removeClass('opacity_1')
            var imgH = $('.banner-wrap>ul>li').height();
            var indicatorIndex = $(this).index();
            if (indicatorIndex == $(".banner-indicators-img").find("li").length){
                $('.banner-wrap>ul').animate({bottom: "0px"},'slow');
            }else{
                $('.banner-wrap>ul').animate({top: -(indicatorIndex)* imgH},'slow');
            }

            // console.log("li的高度為"+ imgH);

        });
        //最近瀏覽
        $('.viewed>ul>li').mouseenter(function () {
            $(this).find('div').addClass('visible-panel');
            $(this).siblings().find('div').removeClass('visible-panel');
        });



            // like
        $(".items-like").click(function () {
            // $(this).toggleClass("activ");
            console.log('dianji l ');
            var offset = $("#end").offset().top != 0 ? $("#end").offset():$(".fa-heart").offset();
            console.log(offset);
            console.log(addcar);
            var flyer = $('<img class="u-flyer" src="../website/img/like.png">').clone().css({
                'z-index': '999',
                'height': '3rem',
                'width': '3rem'
            });
            console.log(flyer);
            flyer.fly({
                start: {
                    left: event.pageX,
                    top: event.pageY
                },
                end: {
                    left: offset.left+10,
                    top: offset.top+10,
                    width: 0,
                    height: 0
                },
                onEnd: function(){
                    $("#msg").show().animate({width: '250px'}, 200).fadeOut(1000);
                    addcar.css("cursor","default").removeClass('orange').unbind('click');
                    this.destory();
                }
            });
        })

    })
</script>