<link rel="stylesheet" href="css/member.css">
<link rel="stylesheet" href="css/about-us.css">
<section class="container-narrow" id="member-order-page">
    <div class="content clearfix">
        <!--sideMenu-->
        <aside class="sideMenu-wrap">
            <div class="sideMenu">
                <ul>
                    <li class="side-menu-h"><a href="paradise.html" class="active">歐洲天堂</a></li>
                    <li class="side-menu-h"><a href="question.html">Q & A</a></li>
                    <li class="side-menu-h"><a href="size.html">尺寸參考表</a></li>
                </ul>
            </div>
        </aside>
        <!--inner-cnt-->
        <div class="inner-cnt-wrap">
            <div class="about-us-title paradise-img">
                <h1>歐洲天堂品牌介紹</h1>
            </div>
            <div class="paradise-wrap">
                <div class="paradise-item-wrap reverse">
                    <div class="paradise-cnt-text">
                        <p>依消費者保護法第19條第1項及第2項規定：「通訊交易或訪問交易之消費者，得於收受商品或接受服務後7日內，以退回商品或書面通知方式解除契約，無須說明理由及負擔任何費用或對價。但通訊交易有合理例外情事者，不在此限。前項但書合理例外情事</p>
                        <p>「通訊交易或訪問交易之消費者，得於收受商品或接受服務後7日內，以退回商品或書面通知方式解除契約，無須說明理由及負擔任何費用或對價。但通訊交易有合理例外情事者，不在此限。前項但書合理例外情事</p>
                    </div>
                    <div class="paradise-cnt-img">
                        <img src="./img/OtherPages/about_1.png" alt="">
                    </div>
                </div>
                <div class="paradise-item-wrap">
                    <div class="paradise-cnt-img">
                        <img src="./img/OtherPages/about_2.png" alt="">
                    </div>
                    <div class="paradise-cnt-text">
                        <p>「通訊交易或訪問交易之消費者，得於收受商品或接受服務後7日內，以退回商品或書面通知方式解除契約，無須說明理由及負擔任何費用或對價。但通訊交易有合理例外情事者，不在此限。前項但書合理例外情事</p>
                    </div>
                </div>

                <div class="paradise-item-wrap reverse">
                    <div class="paradise-cnt-text">
                        <p>依消費者保護法第19條第1項及第2項規定：「通訊交易或訪問交易之消費者，得於收受商品或接受服務後7日內，以退回商品或書面通知方式解除契約，無須說明理由及負擔任何費用或對價。但通訊交易有合理例外情事者，不在此限。前項但書合理例外情事</p>
                        <p>「通訊交易或訪問交易之消費者，得於收受商品或接受服務後7日內，以退回商品或書面通知方式解除契約，無須說明理由及負擔任何費用或對價。但通訊交易有合理例外情事者，不在此限。前項但書合理例外情事</p>

                    </div>
                    <div class="paradise-cnt-img">
                        <img src="./img/OtherPages/about_3.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>