<link rel="stylesheet" href="css/member.css">
<link rel="stylesheet" href="css/privacy.css">
<section class="container-narrow" id="policy-page">
    <div class="content clearfix">
        <!--sideMenu-->
        <aside class="sideMenu-wrap">
            <div class="sideMenu">
                <ul>
                    <li><a href="policy.html">退換貨款政策</a></li>
                    <li><a href="javascript:void();" class="active">隱私條款</a></li>
                </ul>
            </div>
        </aside>
        <!--inner-cnt-->
        <div class="inner-cnt-wrap">
            <div class="inner-title">
                <h1>隱私條款</h1>
            </div>
            <div class="inner-cnt">
                <div class="list-txt-group privacy-group">
                    <p>非常歡迎您光臨普惠世紀歐洲天堂精品網（以下簡稱本網站），為了讓您能夠安心使用本網站的各項服務咨詢，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
                    <ul>
                        <li><strong>一、隱私保護政策的適用範圍</strong></br>
                            <p>隱私保護政策的適用範圍隱私保護政策的適用範圍隱私保護政策的適用範圍隱私保護政策的適用範圍隱私保護政策的適用範圍隱私保護政策的適用範圍隱私保護政策的適用範圍隱私保護政策的適用範圍</p>
                        </li>
                        <li><strong>二、個人資料的蒐集、處理及利用方式</strong></br>
                            <ul class="policy-item">
                                <li>個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式</li>
                                <li>個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式</li>
                                <li>個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式</li>
                                <li>個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式個人資料的蒐集、處理及利用方式</li>
                            </ul>
                        </li>
                        <li><strong>三、資料之保護</strong></br>
                            <ul class="policy-item">
                                <li>資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護</li>
                                <li>資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護資料之保護</li>
                            </ul>
                        </li>
                        <li><strong>四、網站對外的相關連接</strong></br>
                            <p>網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接網站對外的相關連接</p>
                        </li>
                        <li><strong>五、與第三人共用個人資料之政策</strong></br>
                            <p>與第三人共用個人資料之政策與第三人共用個人資料之政策與第三人共用個人資料之政策與第三人共用個人資料之政策與第三人共用個人資料之政策與第三人共用個人資料之政策與第三人共用個人資料之政策</p>
                            <p>前項但書之情形包括不限於：</p>
                            <ul class="policy-item">
                                <li>經由您書面同意。</li>
                                <li>法律明文規定</li>
                                <li>為免除您生命、身體、自由或財產上之危險</li>
                                <li>為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險</li>
                                <li>為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險</li>
                                <li>有利於您的權益</li>
                                <li>為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險為免除您生命、身體、自由或財產上之危險</li>
                            </ul>
                        </li>
                        <li><strong>六、Cookie之使用</strong></br>
                            <p>Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用Cookie之使用</p>
                        </li>
                        <li><strong>七、隱私權保護政策之修正</strong></br>
                            <p>隱私權保護政策之修正隱私權保護政策之修正隱私權保護政策之修正隱私權保護政策之修正隱私權保護政策之修正隱私權保護政策之修正</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>