<link rel="stylesheet" href="./css/product-items.css">
<script src="../js/priceSlider.js"></script>
<section class="container-narrow clearfix" id="product-items" ng-controller="productCtrl">
    <!--filter-->
    <aside class="filter-wrap">
        <div class="filter-box">
            <ul>
                <li class="filter-title"><a href="#"><span>prada</span></a></li>
                <li class="filter-subtitle"><a href="#"><span>Show All</span></a></li>
                <li><a href="#"><span>Clothing</span></a></li>
                <li><a href="#"><span>Shoes</span></a></li>
                <li><a href="#"><span>Bags</span></a></li>
                <li><a href="#"><span>Accessories</span></a></li>
                <li><a href="#"><span>Exclusives</span></a></li>
            </ul>
        </div>
        <div class="filter-box">
            <div class="filter-title">排序方式</div>
            <a class="reset-btn">全部清除</a></div>

        <!--品牌-->
        <div class="filter-box" id="filter-brand">
            <div class="filter-title has-arrow"><a href="#">品牌</a>
                <div class="filter-submenu">
                    <form>
                        <div>
                            <input type="checkbox"/>
                            <label><span>PRADA</span></label>
                        </div>
                        <div>
                            <input type="checkbox"/>
                            <label><span>moschino</span></label>
                        </div>
                        <div>
                            <input type="checkbox"/>
                            <label><span>burberry</span></label>
                        </div>
                        <div>
                            <input type="checkbox"/>
                            <label><span>gucci</span></label>
                        </div>
                        <div>
                            <input type="checkbox"/>
                            <label><span>miu miu</span></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--尺寸-->
        <div class="filter-box" id="filter-size">
            <div class="filter-title has-arrow"><a href="#">尺寸</a>
                <div class="filter-submenu">
                    <form>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">one size</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">XXS</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">xs</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">S</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">m</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">l</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">xl</span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt">XXl</span> </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--價錢-->
        <div class="filter-box" id="filter-price">
            <div class="filter-title has-arrow" id="price_title"><a href="#">價錢</a>
                <div class="filter-submenu" id="price_submenu" >
                    <div class="price-range">
                        <div class="price-line">

                            <div class="sel-line"></div>
                            <div class="begin-box">
                                <span></span>
                            </div>
                            <div class="end-box"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--顏色-->
        <div class="filter-box" id="filter-color">
            <div class="filter-title has-arrow"><a href="#">顏色</a>
                <div class="filter-submenu">
                    <form>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt check-white"></span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt check-red"></span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt check-yellow"></span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt check-green"></span> </label>
                        </div>
                        <div>
                            <label class="checkbox-wrap">
                                <input type="checkbox">
                                <span class="checkbox-txt check-blue"></span> </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </aside>

    <div class="items-wrap">
        <div class="items-top">
            <div class="item-classify"><a href="#"><span>首頁</span></a> / <a href="#"><span>DESIGNER</span></a> /
                <a href="#"><span>PRADA</span></a></div>
            <div class="sort-wrap">
                <div class="item-sort">
                    <form>
                        <select>
                            <option value="0">排列方式</option>
                            <option value="1">價錢：由低到高</option>
                            <option value="2">價錢：由高到低</option>
                            <option value="3">上架時間：新到舊</option>
                            <option value="4">上架時間：舊到新</option>
                        </select>
                    </form>
                </div>
                <div class="item-filter"><a href="#" id="filter-toggle">filter</a></div>
            </div>
        </div>

        <!--items-->
        <div class="items-cnt clearfix">
            <?php foreach((array)$this ->productlist as $product):?>
            <article class="items-box">
                <div class="items-box-side"><a href="#" class="items-cart"></a> <a href="#"
                                                                                   class="items-like"></a></div>
                <a href="item.html?i=<?php echo $product['id'];?>">
                    <div class="items-box-main">
                        <div class="items-img reveal"><img src="../system/files/<?php echo json_decode($product['img'])[0]->path;?>"/> <img
                                class="hidden" src="../system/files/<?php echo json_decode($product['img'])[1]->path;?>"/>
                        </div>
                        <div>
                            <h6><span><?php echo $product['name'];?></span></h6>
                            <h5><span>TWD {{<?php echo $product['price'];?> | currency}}</span></h5>
                        </div>
                    </div>
                </a></article>
            <?php endforeach;?>
        </div>

        <!--pagigation-->
        <div class="items-bottom">
            <div class="items-pagination"><a href="#" class="pagination-pre"><span>上一頁</span></a><a
                    href="#"><span>1</span></a><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a
                    href="#"><span>4</span></a><a href="#" class="pagination-next"><span>下一頁</span></a></div>
            <div class="items-sum">
                <div>共計<span>90</span>個商品</div>
                <div>頁數<span>1</span>/<span>4</span></div>
            </div>
        </div>
    </div>



</section>

<script>
    jQuery(document).ready(function ($) {
        //价钱效果
        // console.log($('.price-line').width());
        // console.log($('.begin-box').position().left);
        // 最小box的left
        // console.log("filter-price:width:  " + $('#filter-price').width());

        $('#price_title').click(function () {
            if ($('#price_submenu').css('display') == 'block'){
                //价钱效果
                // console.log($('.price-line').width());
                // console.log($('.begin-box').position().left);
                // 最小box的left
                var min_left = $('.begin-box').position().left;
                console.log('min_left====>'+min_left);
                // 最大box的left
                var max_left = $('.end-box').position().left;
                console.log('min_left' + min_left, 'max_left' + max_left);

                //拖动
                var flagBeginDrag = false;
                var flagEndDrag = false;
                var offsetL = $('.price-range').offset().left;
                // var offsetR = $('.price-range').offset().right;
                // console.log($('.price-range').offset().left);

                // begin
                $('.begin-box').mousedown(function () {
                    flagBeginDrag = true;
                });
                $('.price-range').mousemove(function () {
                    if (flagBeginDrag) {
                        //begin-box来到最左边
                        if (event.pageX < offsetL) {
                            $('.begin-box').css('left', 0);
                            $('.sel-line').css({
                                'left': 0,
                                'width': max_left
                            });
                            min_left = 0;
                            funcPercent();
                        }
                        //begin-box来到最右边
                        // else if (event.pageX > offsetL + $('.price-range').width()) {
                        //     $('.begin-box').css('left', $('.price-range').width());
                        //     $('.sel-line').css({
                        //         'width': $('.price-range').width() - max_left
                        //     });
                        //     min_left = max_left;
                        //     max_left = $('.price-range').width();
                        //     funcPercent();
                        // }
                        //begin-box不越过end-box
                        else if (event.pageX < offsetL + max_left) {
                            $('.begin-box').css('left', event.pageX - offsetL);
                            $('.sel-line').css({
                                'left': event.pageX - offsetL,
                                'width': max_left - (event.pageX - offsetL)
                            });
                            min_left = event.pageX - offsetL;
                            funcPercent();
                        }
                        //begin-box越过end-box
                        else {
                            // $('.begin-box').css('left', event.pageX - offsetL);
                            // $('.sel-line').css({
                            //     'width': event.pageX - offsetL - max_left
                            // });
                            // min_left = max_left;
                            // max_left = event.pageX - offsetL;
                            // alert('.begin-box越界');
                            return;
                        }
                    }
                });

                // end
                $('.end-box').mousedown(function () {
                    flagEndDrag = true;
                });
                $('.price-range').mousemove(function (event) {
                    if (flagEndDrag) {
                        // end-box来到最左边
                        // if (event.pageX < offsetL) {
                        //     $('.end-box').css('left', 0);
                        //     $('.sel-line').css({
                        //         'left': 0,
                        //         'width': min_left
                        //     });
                        //     max_left = min_left;
                        //     min_left = 0;
                        //     funcPercent();
                        // }
                        // end-box来到最右边
                        if (event.pageX > offsetL + $('.price-range').width()) {
                            $('.end-box').css('left', $('.price-range').width());
                            $('.sel-line').css({
                                'width': $('.price-range').width() - min_left
                            });
                            max_left = $('.price-range').width();
                            funcPercent();
                        }
                        // end-box不越过begin-box
                        else if (event.pageX >= offsetL + min_left) {
                            $('.end-box').css('left', event.pageX - offsetL);
                            $('.sel-line').css({
                                'width': event.pageX - offsetL - min_left
                            });
                            max_left = event.pageX - offsetL;
                            funcPercent();
                        }
                        // end-box越过begin-box
                        else {
                            // $('.eng-box').css('left', event.pageX - offsetL);
                            // $('.sel-line').css({
                            //     'left': event.pageX - offsetL,
                            //     'width': min_left - (event.pageX - offsetL)
                            // });
                            // max_left = min_left;
                            // min_left = event.pageX - offsetL;
                            // alert('.end-box越界');
                            // funcPercent();
                        }
                    }
                });

                document.addEventListener('mouseup', function () {
                    flagBeginDrag = false;
                    flagEndDrag = false;
                });

                // 取消不必要的点击事件
                $('.begin-box span,.end-box span,.begin-box,.end-box').click(function () {
                    event.stopPropagation();
                });

                // 动态显示百分比
                funcPercent();
                function funcPercent() {
                    var beginPer = min_left / $('.price-line').width();
                    var endPer = max_left / $('.price-line').width();
                    $('.begin-box span').html(Math.round(beginPer * 100)*500);
                    $('.end-box span').html(Math.round(endPer * 100)*500 );

                }
            }
        })




    })
</script>