<link rel="stylesheet" href="css/member.css">
<link rel="stylesheet" href="css/about-us.css">
<section class="container-narrow" id="member-order-page">
    <div class="content clearfix">
        <!--sideMenu-->
        <aside class="sideMenu-wrap">
            <div class="sideMenu">
                <ul>
                    <li class="side-menu-h"><a href="paradise.html">歐洲天堂</a></li>
                    <li class="side-menu-h"><a href="question.html" class="active">Q & A</a></li>
                    <li class="side-menu-h"><a href="size.html">尺寸參考表</a></li>
                </ul>
            </div>
        </aside>
        <!--inner-cnt-->
        <div class="inner-cnt-wrap">
            <div class="about-us-title question-img">
                <h1>歐洲天堂官方網站Q & A</h1>
            </div>
            <div class="question-wrap">
                <ul>
                    <li class="question-title">商場的商品是正品嗎？</li>
                    <li>是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是</br>的是的是的是的是的是的是的是的是的是的</li>
                    <li class="question-title">商場的商品是正品嗎？</li>
                    <li>是的是的是的是的是的是的是的是的是的是的是的是的是的</br>是的是的是的是的是的是的是的是的是的是的是的是</br>的是的是的是的是的是的是的是的</li>
                    <li class="question-title">商場的商品是正品嗎？</li>
                    <li>是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的</br>是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的</br>是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的</li>
                    <li class="question-title">商場的商品是正品嗎？</li>
                    <li>是的是的是的是的是的是的是的是的是的是的是的是的是的是的</br>是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的</li>
                    <li class="question-title">商場的商品是正品嗎？</li>
                    <li>是的是的是的是的是的是的是的是的是的是的是的是的是的是的是的</li>
                    <li class="more-information">如您欲了解更多相關信息 <i>http://m.me/EurPHC</i></li>
                </ul>
            </div>
        </div>
    </div>
</section>