<link rel="stylesheet" href="css/member.css">
<link rel="stylesheet" href="css/about-us.css">
<section class="container-narrow" id="member-order-page">
    <div class="content clearfix">
        <!--sideMenu-->
        <aside class="sideMenu-wrap">
            <div class="sideMenu">
                <ul>
                    <li class="side-menu-h"><a href="paradise.html">歐洲天堂</a></li>
                    <li class="side-menu-h"><a href="question.html">Q & A</a></li>
                    <li class="side-menu-h"><a href="size.html" class="active">尺寸參考表</a></li>
                </ul>
            </div>
        </aside>
        <!--inner-cnt-->
        <div class="inner-cnt-wrap">
            <div class="about-us-title size-form-img">
                <h1>尺寸参考表</h1>
            </div>
            <div class="size-form-wrap">
                <div class="form-select">
                    <span>顯示尺寸參考表</span>
                    <select name="size-reference" id="size_reference">
                        <option value="1">Woman's Clothing</option>
                        <option value="2">Woman's underwear and beachwear</option>
                        <option value="3">Woman's Shoes</option>
                        <option value="4">Man's Clothing</option>
                        <option value="5">Man's underwear and beachwear</option>
                        <option value="6">Man's Shoes</option>
                    </select>
                </div>
                <div class="form-name">Woman's underwear and beachwear</div>
                <table border="1" class="size-form-cnt">
                    <thead>
                    <tr>
                        <th class="row20">INTERNATIONAL SIZE</th>
                        <th class="row20">IT</th>
                        <th class="row20">UK</th>
                        <th class="row20">US</th>
                        <th class="row20">FR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>XXS</td>
                        <td>0</td>
                        <td>4</td>
                        <td>0</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>XS</td>
                        <td>I</td>
                        <td>6</td>
                        <td>2</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>II</td>
                        <td>8</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>III</td>
                        <td>10</td>
                        <td>6</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>IV</td>
                        <td>12</td>
                        <td>8</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>IV</td>
                        <td>12</td>
                        <td>8</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>V</td>
                        <td>14</td>
                        <td>10</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td>XXL</td>
                        <td>VI</td>
                        <td>16</td>
                        <td>12</td>
                        <td>44</td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</section>